* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

body {
  background-color: #fff;
  color: #333;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

main{
  flex: 1;
}

.container {
  display: flex;
  gap: 30px;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 10px;
  background-color: #353535;
  color: #fff;
}

.logo img {
  max-height: 100px;
  flex: 1;
  border: 2px solid transparent;
  margin-left: 500px;
  cursor: pointer;
}

.user-options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-options a {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  transition: color 0.3s, transform 0.3s;
}

.user-options a:hover {
  transform: scale(1.05);
  color: #ff6600;
}

.icons img {
  width: 30px;
  cursor: pointer;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
}

.section-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 25px;
  margin-top: 50px;
  font-weight: 700;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
}

.faq-header h3 {
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.faq-body p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #555;
}

.faq-body strong {
  color: #444;
  font-weight: 700;
}

.alert-box {
  background-color: #fff0e6;
  padding: 15px 20px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.alert-icon {
  font-size: 24px;
  font-weight: bold;
  color: #ff6500;
  line-height: 1;
}

.alert-text {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  font-weight: 600;
}

.highlight-orange {
  color: #ff6500;
  font-weight: 700;
}

footer {
  margin-bottom: 20px;
  margin-right: 15px;
  padding: 16px;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}