* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

body {
  background-color: #fff;
  color: #333;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
    height: 100%;
}

.container {
  display: flex;
  flex: 1;
  gap: 30px;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px;
    background-color: #353535;
    color: #fff;
}

.logo img {
    max-height: 100px;
    flex: 1;
    border: 2px solid transparent;
    margin-left: 500px;
    cursor: pointer;
}

.user-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-options a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    transition: color 0.3s, transform 0.3s;
}

.user-options a:hover {
    transform: scale(1.05);
    color: #ff6600;
}

.icons img {
    width: 30px;
    cursor: pointer;
}

.favoritos {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
}

.favoritos h2 {
  color: #222;
  font-size: 1.8em;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.card {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.01);
}

.card img {
  width: 120px;
  border-radius: 5px;
}

.info {
  flex: 1;
  margin-left: 20px;
}

.info h3 {
  color: #333;
  margin-bottom: 5px;
}

.info p {
  color: #555;
  font-size: 0.9em;
}

.rating {
  color: #ff6600;
  margin-top: 5px;
}

.price {
  text-align: right;
  min-width: 160px;
}

.price s {
  color: #888;
  font-size: 0.9em;
}

.price strong {
  color: #ff6600;
  font-size: 1.5em;
  display: block;
}

.price p {
  color: #333;
  font-size: 0.9em;
  margin-top: 5px;
}

.btn-comprar {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s, color 0.3s;
}

.btn-comprar:hover {
  background-color: #e9e9e9;
  color: #000;
}

footer {
    margin-bottom: 20px;
    margin-right: 15px;
    padding: 16px;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}