* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #353535;
  padding: 60px 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 102, 0, 0.1);
  text-align: center;
  width: 400px;
}

.logo {
  width: 200px;
  height: auto;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-group {
  display: flex;
  align-items: center;
  background-color: #111;
  border: 1px solid #ff6600;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;
}

.input-group:focus-within {
  border-color: #ffa24c;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}

.input-group i {
  color: #ccc;
  margin-right: 10px;
  font-size: 18px;
}

.input-group input {
  border: none;
  background: transparent;
  outline: none;
  color: white;
  flex: 1;
  font-size: 16px;
}

.login-btn {
  background-color: #ff6600;
  border: none;
  color: white;
  padding: 12px;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #ff8533;
}

.google-btn {
  background-color: transparent;
  border: 1px solid #ff6600;
  color: white;
  padding: 12px;
  width: 100%;
  border-radius: 25px;
  font-size: 16px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.google-btn img {
  width: 20px;
  height: 20px;
}

.google-btn:hover {
  background-color: #ff6600;
}