* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

body {
  background-color: #fff;
  color: #333;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
    height: 100%;
}

main {
    flex: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px;
    background-color: #353535;
    color: #fff;
}

.logo img {
    max-height: 100px;
    flex: 1;
    border: 2px solid transparent;
    margin-left: 500px;
    cursor: pointer;
}

.user-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-options a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    transition: color 0.3s, transform 0.3s;
}

.user-options a:hover {
    transform: scale(1.05);
    color: #ff6600;
}

.icons img {
    width: 30px;
    cursor: pointer;
}

.container {
  display: flex;
  gap: 30px;
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.cart {
  flex: 2;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.alert {
  background-color: #eaf4ff;
  color: #0077cc;
  padding: 10px;
  border-left: 5px solid #0077cc;
  margin-bottom: 20px;
  font-size: 14px;
}

.product-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.product-info {
  display: flex;
  gap: 15px;
}

.product-info img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.services {
  margin-top: 20px;
}

.services h4 {
  margin-bottom: 10px;
  color: #444;
}

.summary {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
}

.summary h3 {
  margin-bottom: 15px;
}

.summary p {
  margin: 5px 0;
}

.summary .pix {
  background-color: #d4f8d4;
  padding: 10px;
  border-radius: 5px;
}

.summary .economy {
  color: green;
  font-size: 14px;
}

.summary button {
  width: 100%;
  padding: 12px;
  font-weight: bold;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.continue {
  background-color: #ff6600;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}

.continue:hover {
  background-color: #e9e9e9;
  color: #000;
}

.back {
  background-color: white;
  border: 1px solid #ff6600;
  color: #ff6600;
  transition: background-color 0.5s, color 0.5s;
}

.back:hover {
  color: #9f4203;
}

footer {
    margin-bottom: 20px;
    margin-right: 15px;
    padding: 16px;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
